<h2>List of events</h2>
<div id="selectionBox">
  <div id="repoOwnerBox"><label>Repository Owner</label> {{input type="text" value=repoOwner name="repoOwner" placeholder="miketheprogrammer1"}}</div>
  <div id="repoNameBox"><label>Repository Name</label> {{input type="text" value=repoName name="repoName" placeholder="git-event-browser"}}</div>
  <div id="displayEventsButtonBox"><button class="refresh-click" {{action 'refreshRepository'}}>Refresh</button></div>
</div>
<ul>
      {{#each model as |event|}}
      <li class="eventListing">{{event.type}} : {{event.payload.description}}</li>
      {{/each}}
</ul>